﻿@{
    ViewData["Title"] = "Home Page";
    var random = ViewData["random"] as double?;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@DateTime.Now.ToLongDateString()</p>
    @if (random > 0.5)
    {
        <p style="background-color: red;">@random</p>
    }
    else
    {
        <p>@random</p>
    }
</div>
