<template>
    <lightning-record-view-form record-id={recordId} object-api-name={invoiceObject}>
        <div class="slds-grid">
            <div class="slds-col slds-size_1-of-2">
                <lightning-formatted-text value={countryCode} class="slds-text-heading_large">
                </lightning-formatted-text>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <lightning-formatted-number value={amount} format-style="currency" minimum-fraction-digits="4">
                </lightning-formatted-number>
            </div>
        </div>
    </lightning-record-view-form>

    <div class="slds-grid">
        <div class="slds-col slds-size_1-of-2">
            <lightning-select name="countries" label="Country Tax to Display" value={countryCode}
                options={countryOptions} onchange={countrySelected}>
            </lightning-select>
        </div>
        <div class="slds-col slds-size_1-of-2">
            <lightning-formatted-number value={taxAmount} format-style="currency" minimum-fraction-digits="4">
            </lightning-formatted-number>
        </div>
    </div>
</template>