:root {
    --color1: #f2f2f2;
    --color2: #e5e5e5;
    --color3: #cccccc;
    --color4: #999999;
    --color5: #666666;
    --color6: #333333;
}

body {
    background-color: var(--color1);
}

.admin-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.game-description-field {
    display: flex;
    flex-direction: column;
}

.game-description-field textarea {
    width: 99%;
    height: 150px;
    resize: none;
}

.game-description-field label {
    font-weight: bold;
}

.game-title-field input {
    width: 99%;
}

#usersColumn {
    width: 25%;
}

#gamesColumn {
    width: 60%;
}

#genresColumn {
    width: 15%;
}

.column {
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--color4);
    background-color: var(--color2);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column-left {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-middle {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-right {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    height: 100px;
    border: 1px solid var(--color4);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--color2);
    padding: 20px;
    margin-bottom: 1%;
}

.game-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.game-card:nth-child(even) {
    background-color: var(--color3);
}

.game-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.game-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 1%;
}

.game-release-year {
    font-weight: bold;
}

.btn {
    padding: 5px 5px;
    border: var(--color4) 1px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.btn-primary {
    background-color: #818ba7;
    color: var(--color6);
}

.btn-primary:hover {
    background-color: #586074;
}

.btn-danger {
    background-color: red;
    color: var(--color6);
}

.btn-danger:hover {
    background-color: #c0392b;
}

.navbar {
    width: 100%;
    padding: 1px;
    background-color: var(--color4);
    border-bottom: var(--color4) 1px solid;
    color: var(--color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.navbar .logo {
    color: var(--color6);
    font-weight: bold;
    margin: 0% 1%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
}

th {
    background-color: var(--color4);
    color: var(--color1);
    border: var(--color4) 1px solid;
}

tr:nth-child(even) {
    background-color: var(--color3);
}

tr:nth-child(even):hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

tr:nth-child(odd) {
    background-color: var(--color2);
}

tr:nth-child(odd):hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

td {
    vertical-align: top;
}

.profile-container {
    background-color: var(--color2);
    border: var(--color4) 1px solid;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
}

.user-games-container {
    background-color: var(--color3);
    border: var(--color4) 1px solid;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1%;
    width: auto;
    border-radius: 5px;
    border: var(--color4) 1px solid;
    background-color: var(--color2);
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 35%;
}

.genres-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    margin: 1%;
    padding: 1%;
}

.genre-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.genre-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 1%;
}

.genre-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100px;
    border: 1px solid var(--color4);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--color2);
    padding: 20px;
    margin-bottom: 1%;
}

.genre-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.genre-card:nth-child(even) {
    background-color: var(--color3);
}
