#formularz {
    margin: 0 auto 0 35%;
    width: 30%;
}

h3 {
    color: green;
    text-align: center;
}

input#rejestruj {
    color: green;
    margin-left: 5%;
}

input#anuluj {
    color: green;
    float: right;
    margin-right: 5%;
}

fieldset {
    margin-bottom: 3%;
}