body {
    padding-left: 50px;
    padding-right: 50px;
}

main {
    background: #b32727;
    width: 68%;
    padding-top: 0;
    text-align: center;
}

main h3 {
    text-align: center;
    padding: 2%;
}

main img {
    width: 25%;
    padding: 2% 2% 0;
}

aside {
    width: 28%;
    padding-top: 0;
}