* {
    border-radius: 7px;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

body {
    background: #4ae;
    color: #000040;
}

#content {
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
}

main {
    flex: 75%;
}

@media screen and (max-width: 680px) {
    #content {
        display: flex;
        flex-direction: column;

    }

    aside {
        display: flex;
        width: 100%;
    }

    .box {
        flex: 50%;
    }
}

h1, h2, footer {
    background: #000040;
    color: #8080ff;
    text-align: center;
}

nav {
    position: relative;
    background: #d10a69;
    flex: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #000000;
    padding: 15px;
    font-family: sans-serif;
    font-size: 18px;
}

nav ul > li {
    position: relative;
}

nav a:hover {
    color: #000;
    -webkit-box-shadow: 0 0 9px 3px;
}

nav ul {
    list-style: none;
}

nav ul.drop-down li {
    display: none;
    list-style: none;
}

.drop-down {
    display: flex;
    flex-direction: column;
    max-width: 10%;
    position: absolute;
}

nav li:hover > .drop-down li {
    display: flex;
    align-self: flex-start;
    background: #d10a69;
    position: relative;
}

li > ul {
    position: absolute;
    display: flex;
    left: 0;
    top: 100%;
    width: 100%;
}


main {
    background: #00ffff;
    padding: 1%;
}

aside {
    flex: 25%;
    padding: 1%;
}

footer {
    clear: both;
    width: 100%;
    padding: 5px 0 5px 0;
    text-align: center;
}

*.box {
    background: #34349b;
    color: #dbffff;
    padding: 5px;
    margin: 5px;
    font-size: 90%;
}

*.box a {
    color: #ffffb0;
}