table {
    background: #decb87;
    text-align: center;
    width: 94%;
    margin: 2%;
    border-style: solid;
    border-width: 1px;
    border-color: #000040;
}

caption {
    font-size: 120%;
    font-weight: bold;
}

thead, tfoot {
    background: #000040;
    color: white;
    font-size: 110%;
    padding: 5pt;
}

td, th {
    border-color: #000040;
    border-width: 1pt;
    border-style: solid;
}

tfoot.a {
    color: #ffffff;
}

tr:nth-child(even) {
    background: #ffffb0;
    color: black;
}