/* General Styles */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #e8f0fe;
  /* Lighter blue background */
}

.card {
  padding: 2em;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for better depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Hover effect for cards */
}

.read-the-docs {
  color: #6b7280;
}

.error {
  color: #e74c3c;
}

.restaurant-card,
.reservation-card {
  background: #cfd8dc;
  /* Softer blue-gray background color */
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.restaurant-card:hover,
.reservation-card:hover {
  background: #b0bec5;
  cursor: pointer;
  transform: translateY(-3px);
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.user-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-card-username,
.user-card-email,
.user-card-role {
  margin-right: 10px;
}

.user-card-delete-button {
  margin-left: auto;
  padding: 0.5rem 1rem;
  background-color: #e57373;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-card-delete-button:hover {
  background-color: #d32f2f;
}

/* AddRestaurant.css */
.add-restaurant-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.add-restaurant-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #90caf9;
  border-radius: 4px;
  background-color: #f0f4c3;
  /* Light background for inputs */
}

.form-input:focus,
.form-textarea:focus {
  border-color: #42a5f5;
  background-color: #e3f2fd;
  /* Light blue background on focus */
}

.form-textarea {
  width: calc(100% - 20px);
  /* Adjusted width to account for padding */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.form-fieldset {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-fieldset legend {
  padding: 0 5px;
  font-size: 16px;
  font-weight: bold;
}

.form-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #42a5f5;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #1e88e5;
}

/* Responsive Design */
@media (max-width: 768px) {

  .card,
  .user-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-card-username,
  .user-card-email,
  .user-card-role {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .user-card-delete-button {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
}

/* UserProfile.css */

.user-profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.edit-profile-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-details {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-input:focus {
  border-color: #007bff;
  background-color: #eef6ff;
}

.form-button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 5px;
}

/* UserProfile.css */

.user-profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.edit-profile-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-details {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-input {
  width: calc(100% - 20px);
  /* Adjusted width to account for padding */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-input:focus {
  border-color: #007bff;
  background-color: #eef6ff;
}

.form-button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 5px;
}

/* Admin.css */

/* Style dla tabel */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
  cursor: pointer;
}