﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container w-50">
    <a asp-page="Upload">Upload new file...</a> <br>
    <div class="col align-items-center">
        @foreach (var item in Model.Images)
        {
            <div class="row">
                <partial name="_Image" model="item" />
            </div>
        }
    </div>
</div>
